<div class="footer">

  <div class="col-sm-4 text-left">
      <a target="_blank" href="https://www.facebook.com/HelloYvon/">
        <i class="fa fa-facebook fa-lg" ></i>
      </a>
      <a href="#">
        <i class="fa fa-instagram fa-lg" ></i>
      </a>
  </div>

  <div class="col-sm-4" style="text-align: center">
    <p> Tous droits réservés</p>
  </div>

  <div class="col-sm-4" style="text-align: right">
    <p>ChronoChef 971, copyright 2017 </p>
  </div>



</div>
